---
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";
import advancedFormat from "dayjs/plugin/advancedFormat";
import relativeTime from "dayjs/plugin/relativeTime";
import { Icon } from "@iconify-icon/react";
import experiences from "./experiences";

dayjs.extend(customParseFormat);
dayjs.extend(advancedFormat);
dayjs.extend(relativeTime);
---

<section class="p-6 md:p-20 text-white">
  <h1
    class="font-michroma bg-gradient-to-b from-amber-200 to-amber-600 bg-clip-text font-semibold text-3xl text-transparent mb-7"
  >
    Experience
  </h1>

  <div>
    {
      experiences.map((exp) => (
        <div class="mb-7 card">
          <h2 class="font-michroma font-semibold mb-2 hover:underline focus:underline">
            <a
              href={exp.companyWebsite}
              target="_blank"
              rel="noopener noreferrer"
            >
              {exp.company}
            </a>
          </h2>
          <div class="flex flex-col gap-7">
            {exp.roles.map((role) => (
              <div class="grid grid-cols-2">
                <div>
                  <h2 class="font-semibold text-xl font-michroma">
                    {role.role}
                  </h2>
                  <p class="mb-3 text-gray-200">
                    {dayjs(role.startDate).format("MMMM, YYYY")}

                    {role.endDate ? (
                      <span>
                        {" - "}
                        {dayjs(role.endDate).format("MMMM, YYYY")}
                      </span>
                    ) : (
                      <span> - Present</span>
                    )}
                  </p>
                  <ul class="list-disc ml-5">
                    {role.description.map((desc) => (
                      <li class="text-gray-400 text-sm">{desc}</li>
                    ))}
                  </ul>
                </div>

                <div class="flex gap-4 flex-wrap justify-evenly items-center">
                  {role.technologies.map((tech) => (
                    <a
                      href={tech.website}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <Icon client:load icon={tech.icon} className="text-5xl" />
                    </a>
                  ))}
                </div>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .card {
    background-color: #1a202c;
    border-radius: 0.5rem;
    padding: 1rem;

    --color-1: #353023;
    --color-2: #4d452b;
    --color-3: #f4d743;
    --color-4: #f3b034;
    --color-5: #f45a18;

    position: relative;
  }

  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .card::before,
  .card::after {
    content: "";
    position: absolute;
    inset: -0.1rem;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--color-3),
      var(--color-4),
      var(--color-5),
      var(--color-4),
      var(--color-3)
    );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
  }

  .card::after {
    filter: blur(0.3rem);
  }

  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
</style>
